body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

header {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  background-color: white;
  
}

.cards {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, 170px);
  grid-template-rows: repeat(4,220px);
  padding: 10px;
  
}

.card{

  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 170px;
  height: 220px;
  box-sizing: border-box;
}
img{
  width: 170px;
  height: 220px;
}

.card:nth-child(1){
  padding: 10px;
  background-color: #BFBDA7;
}
.card:nth-child(3){
  padding: 10px;
  background-color: #FE4714;
}
.card:nth-child(5){
  padding: 10px;
  background-color: #847E96;
}
.card:nth-child(6){
  padding: 10px;
  background-color: #D0FF71;
}
.card:nth-child(7){
  padding: 10px;
  background-color: #993333;
}
.card:nth-child(8){
  padding: 10px;
  background-color: #3AAAFA;
}
.card:nth-child(10){
  padding: 10px;
  background-color: #41907A;
}
.card:nth-child(12){
  padding: 10px;
  background-color: #E3C4E5;
}
.title{
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;

}
.foot{
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}