/* 칼라지정방법 # 칼라 rgb 칼라 rgba (투명도 추가) 칼라*/
/* 변수지정 :root에 --**-** 형식으로 지정한다 */
@import "reset.css";
@import "variables.css";
@import "./components/top-status.css";
@import "./components/bottom-nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./screen/home.css";
@import "./screen/friends.css";
@import "./screen/find.css";

html {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  flex-direction: row;
  width: 1200px;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;

  align-items: center;

  width: 450px;

  color: #2e363e;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;

  box-sizing: border-box;
}

a {
  color: #2e363e;
}
