$background: red;
$gap: 2px;

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 95%;
  display: grid;
  grid-template-rows: 1.5fr 0.1fr 1fr;
  
  gap: $gap;
  background-color: $background;
}