body {
    margin: 0;
    background-color: wheat;
}
.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;/* 가로 오른쪽 방향 */
    justify-content: space-around; /* main-axis*/
    align-items:center; /* cross-axis  이경우 세로 아래쪽 방향 */
    /* stretch if box has no height*/
    gap: 10px;
}
