@import "./css/variable.css";
@import "./css/components/button.css";
@import "./css/components/write-form.css";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666; /* 상속해주는 텍스트 색상*/
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}
.frame h3 {
  color: #333;
  font-family: "Arial", sans-serif; /* 원하는 폰트 */
  font-size: 20px; /* 원하는 크기 */
  font-weight: bold; /* 굵기 조정 */
}

.frame h4 {
  color: #333;
  font-family: "Arial", sans-serif; /* 원하는 폰트 */
  font-size: 15px;
  font-weight: 500;
}
