body {
    margin: 20px 10px;/*magin collapse*/
    background-color: thistle;
}
h1{
    margin: 80px; /*border밖의 공간*/
    padding: 30px; /*#border안의 공간*/
    display: block;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
