/* transition은 :state 가 없는 엘리먼트에 붙여야한다.*/
a {
  color: wheat;
  background-color: tomato;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 40px;
  height: 55px;

  /* transition: background-color 300ms ease-in-out, color 1s ease-in-out; */
  transition: all 1s ease-in-out;
}
/*변화의 결과*/
a:hover { 
  border-radius: 10px;

  color: tomato;
  background-color: wheat;
}

:root {
  --main-color: #fcce00;
  --backgourn-color: rgba(100, 180, 0, 0.1);
}

body {
  height: 1000vh;
  margin: 50px;

}
