body {
  background-color: white;
  color: white;
}

.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  /* grid 템플릿만들기*/
  grid-template-columns: 1fr max-content 1fr;
  /* grid-template-columns: 1fr minmax(250px, 1fr) 1fr; */
}
.child {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.child:nth-child(2) {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}
