doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/main.css")
  body.grey-bg
    include nav.pug

    div.write-post-border
        form.postform(action=`/edit?_method=PUT`, method="POST" )
            h4 수정
            input(name="id", value= postAlias._id hidden)
            input#write-title(name="title", type="text", value= postAlias.title)
            input#write-content(name="content", type="text" , value =postAlias.content)

            button.simplebutton-log(type="submit") 수정완료
