body {
  height: 100vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  /*    inline-block의 문제를 해결 */
  justify-content: space-evenly;
  /*   stretch는 높이가 없어야 한다. 자식개체의 높이 삭제 */
  align-items: stretch;
  flex-wrap: wrap;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: teal;
  /* color는 상속됨 */
  color: white;
}

#second {
  background-color: wheat;
}
