body {
    margin: 0;
}

.top-bar {
    /* height: 100px; */
    background-image: linear-gradient(to right, red, green);
}

.con {
    margin-left: auto;
    margin-right: auto;
    /*정해져있는 항목*/
}

:root {
    --site-width: 700px;
}

.con-min-width {
    /* 너무 줄어들지 않게좌우폭을 결정 */

    min-width: var(--site-width);
    padding: 0 10px;
}

.con {
    /* 너무 퍼지지 않게 잡아줌 */
    width: var(--site-width);
    /*커스텀이라 분리*/
}

.top-bar {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
