body{
    text-align: center;
}

img:first-child{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 블럭요소를 가운데 정렬하는 방법 */
}

img:nth-child(2) {
    border: 1px solid black;
    margin: 10 5px;
    /* 위아래로는 0 마진 좌우로 5마진 */
}

img:nth-child(3) {
    border: 1px solid black;
    margin: 10 5px;
   
}

img:nth-child(4) {
    border: 1px solid black;
    margin: 10 5px;

}