#mainbox {
  width: 900px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.mainbox_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.your_message {
  background-color: rgb(245, 233, 219);
  padding: 5px;
  border-radius: 8px;
}
