
.title {
  color: violet;
}

body {
  margin: 0;
  background-color: white;
}

.title-sub {
  text-align: center;
  color: violet;
}

.food {
  margin: 20px auto;
  width: 200px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.navbar {
  background-color: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.food-img {
  width: 100%;
  height: auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  line-height: 0px;
}

