img {
  width: 100%;
  /* 부모좌우길이의 50% 100%*/
  /* border: 1px solid black; */
  object-fit: cover;
  /* 고유비율은 지키면서 자름 */
}

nav {
  text-align: center;
}
nav div {
  /* border: 1px solid red; */
  width: 300px;
  height: 300px;
  display: inline-block;
}

nav div img {
  width: 95%;
  height: 95%;
}
