.menu-box {
    text-align: center;
}

.menu-box > .menu {
    background-color: #dfdfdf;
    display: inline-block;
    border-radius: 5px;
    padding: 0 10px;
    color: black;
}

.menu-box > .menu > .menu-item {
    display: inline-block;
    padding: 10px 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-box > .menu > .menu-item:hover {
    background-color: black;
    color: white;
}
