.user-component {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;

  /* 그리드 내에서 정렬방식 가로, 세로, 둘다*/
  justify-items: center;
  align-items: center;
  place-items: start start;
}

.user-component_column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-component_column2nd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}

.user-component_column2nd_chatinfo {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.user-component_column3nd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.user-component_title3nd {
  color: white;

  background-color: black;
  padding: 18px 40px;
  border-radius: 30px;
}
.user-component_subtitle3nd {
  padding: 18px 35px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-component_avatar_sm {
  width: 100px;
  height: 100px;
  /* 이미지 잘라내기*/
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-component_avatar_xl {
  width: 300px;
  height: 300px;
  /* 이미지 잘라내기*/
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-component_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-component_title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-component_title--not-bold {
  font-weight: 300;
}
.user-component_subtitle {
  color: #999;
}

.card {
  width: 90%;
  display: flex;
  padding: 10px 0;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
.card i {
  color: #aaa;
}
.fa-solid:hover {
  color: white;
}
form {
  width: 100%;
}
input {
  width: 100%;
}

.user-component2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

form {
  width: 80%;
}

.range-bar {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: transparent; /* Use the background of input[type=range] */
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #000 0%, #000 50%, #ddd 50%, #ddd 100%);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000; /* Thumb color */
  cursor: pointer;
  margin-top: -6px; /* Adjust based on thumb height/width */
  position: relative;
  z-index: 1;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #000 0%, #000 50%, #ddd 50%, #ddd 100%);
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000; /* Thumb color */
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  position: relative;
}

input[type="range"]::-ms-fill-lower {
  background: #000; /* Left track color */
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd; /* Right track color */
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000; /* Thumb color */
  cursor: pointer;
  position: relative;
  z-index: 1;
}

form {
  margin-bottom: 100px;
}

.white {
  background-color: white;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.play {
  padding: 25px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}
