doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    link(rel="stylesheet", href="public/global.css")
  body
    main#mainbox
      header
        h1 Noom
      #welcome
        form#roomName
          input#comment_input_name(type="text", placeholder="room name", required) 
          input#comment_input_nickname(type="text", placeholder="닉네임", required) 
          button.simplebutton-reversed Enter Room
      #room
        h3 room

        #messageBox
          ul#messageList
        form#message
          input#comment_input(type="text", placeholder="메세지", required) 
          button.simplebutton-sm Send

    script(src="/socket.io/socket.io.js")
    script(src="public/js/app.js")
