@font-face {
    font-family: "LotteMartDream";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
            format("woff");
}
@font-face {
    font-family: "LotteMartDream";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
            format("woff");
}
@font-face {
    font-family: "LotteMartDream";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
            format("woff");
}
html {
    font-family: "LotteMartDream", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 1000px;
    color: white;
}

nav {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    background-color: black;
}

.left {
    display: inline-block;
    width: 300px;

    vertical-align: top;
}

.right {
    display: inline-block;
    width: calc(98% - 300px);

    vertical-align: top;
    text-align: right;
}

.title {
    color: inherit;
    display: inline-block;
    text-decoration: none;

    font-size: 1.5rem;
    padding: 19px;
}

.right > a {
    font-size: 16;
    font-weight: 700;
    display: inline-block;
    padding: 23 10px;
}

.right > a:hover {
    background-color: white;
    color: black;
}
