body {
  background-color: yellow;
  height: 100vh;
}

.wrapper {
  display: grid;
  height: 96vh;
  border: 3px solid orange;
  gap:3px;
  background-color: orange;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px 1fr 30px;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: yellow;
  overflow: hidden;
    &:first-child,
    &:last-child {
    grid-column: span 3;
    background-color: white ;
      color: orange;
      font-size: 20px;
      font-family: "LotteMartDream", sans-serif;
    }
   &:nth-child(2) {
    display: grid;
    grid-template-row: 4fr 3fr 1fr;
    font-size: 20px;
    font-family: "LotteMartDream", sans-serif;
  }
  span{
    position: absolute;
    width:max-content;
  }
  .
}


