a {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  display: block;
  text-decoration: none;
}
div > p {
  font-size: 50px;
  font-weight: bold;

}

nav {
  text-align: center;
  
}
nav > p {
  
  font-weight: bold;
  display: inline-block;
  /* margin-right: 5px;
  margin-left:5px ; */

}

nav >a {
  display: inline-block;
  font-size: 1rem;
  width: 90px;
}