a {
  color: black;
  text-decoration: none;
}

div {
  text-align: center;
}

div a {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -0.3rem;
}

section {
  text-align: center;
}

section nav {
  text-align: center;
  display: inline-block;
  width: 120px;

  /* border: 1px solid black; */
}

section p {
  display: inline;
}

section > nav > a {
  display: block;
  /* 링크를 좌우로 가득채우기위해 */
  font-size: 1rem;

  font-weight: bold;
  /* text-align: center; */
  /* padding-top: 50px; */
  /* line-height: 0.1rem; */
}

section > nav:hover > a {
  color: #ff0000;
  text-decoration-line: underline;
}

#spacing{
  height: 20px;
}

img{
  
  object-fit: cover;
  /* 고유비율은 지키면서 자름 */
}