$background: black;
$gap: 3px;

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 95%;
  display: grid;
  grid-template-rows: 50px 1fr;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  gap: $gap;
  background-color: $background;

  .header {
    display: grid;
    background-color: $background;
    grid-template-columns: repeat(5, minmax(80px, 1fr));
    gap: $gap;

    span {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      width: 100%;
    }
  }

  article {
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    gap: $gap;
    background-color: $background;

    .gallery {
      width: 100wh;
      height: 200px;
      background-color: white;
      display: grid;
      grid-template-rows: 50px 1fr 50px;

      .gallery_header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }

      .gallery_image {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
          height: 120px;
        }
      }

      .gallery_footer {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
