body {
  background-color: white;
}

.child:nth-child(4) {
  background-color: aqua;
  grid-column: b/ d;
}
.child:first-child {
  grid-row: e / g;
}

.father {
  display: grid;
  grid-template-columns: [a] 100px[b] 200px[c] 50px [d];
  grid-template-rows: [e] 200px[f] 100px[g];
  gap: 10px;
}
.child {
  /* width: 200px;
  height: 200px; */
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}
