/* 폰트시작 */

/* 노말라이즈 시작 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
/* 라이브러리 시작 */
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
}

/* 커스텀시작 */
.menu-box-1 {
    text-align: center;
}

.menu-box-1 > ul {
    background-color: #afafaf;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
}

.menu-box-1 > ul > li {
    display: inline-block;
}

.menu-box-1 > ul > li > a {
    display: block;
    padding: 10px;
}

.menu-box-1 > ul > li > a:hover {
    background-color: black;
    color: white;
}
