body {
  margin: 0;
}

#tomato1,
#tomato2 {
  background-color: tomato;
}

.btn {
  color: wheat;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 5px;
}

.shadow{
 box-shadow: 0 0 10px grey;
}
