body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white;

  display: grid;
  height: 100vh; /* body는 처음에 높이가 없음*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

header {
  background-color: aqua;
}

section {
  background-color: coral;
}

aside {
  background-color: forestgreen;
}

footer {
  background-color: deeppink;
}
